// Common styles of the project

html, body
    height 100%
    background: #f9f9f9;
    font-family Roboto;

.page
    // Стили для body


* html .page__wraper
    height 100%

.page__wraper
    margin: 0 auto;
    width: 1140px;
a
    color: inherit;
    cursor: pointer;
    text-decoration: none;
main
    height: 500px;
