// Common styles of the project

html, body
    height 100%

.page
    color #16161A
    background: #f9f9f9
    font-family Roboto


* html .page__wraper
    height 100%

.page__wraper
    margin: 0 auto
    width: 1140px
    text-align: center;
a
    color: inherit
    cursor: pointer
    text-decoration: none
main
    overflow: auto;
    width: 100%
    display: flex
    flex-wrap: wrap
