.wrap
    margin-right: 30px;
.wrap:nth-child(3n)
    margin-right: 0
.article
    display block
    width 360px
    text-align center
    background #fff
    margin-bottom: 30px;
    position: relative;
    &__img
        width 100%
        height 224px
        background #4b21ff
    &__img_large
        height 420px
    &__group
        position: relative;
        display inline-block
        color #9B9B9B
        border 1px solid #ECEBEB
        border-radius 100px
        padding 10px 16px
        margin 26px auto 16px
    &__header
        font-weight 500
        font-size 20px
        margin-top 16px
        margin-bottom 26px
    &__date
        display inline-block
        color #9B9B9B
        font-size 13px
        line-height 15px
        margin-top 26px
        margin-bottom 36px
.article-more
    position: absolute;
    width: 100%;
    height: 100%;

