include ../../components/social/social.pug
mixin footer(data)
    footer.footer
        +social(social, 'white', 'text', 'large')
        .footer__copyright
            |Creative 2005 Copyright. All rights reserved.
