.social
    display: flex;
    align-items: center;
    justify-content: center;
    margin 0
    padding 0
    text-indent 0
    list-style none
    list-style-position outside
    &&_size_medium
        height: 55px;
    &&_size_large
        height: 146px;
    &__item
        margin: 0 12px;
    &__item-link
        display: flex;
        align-items: center;
        &>span
            margin-left: 12px;
            text-transform: capitalize;
