mixin social(data, color, text, size)
    ul.social(class=size ? 'social_size_'+size : '')
        each item in data.items
            li.social__item
                a.social__item-link
                    != pugHelpers.Icon.call(locals, {iconName: item+'_'+color, className: 'icon icon_'+item})
                    if text
                        span &nbsp;#{item}

