include ../../components/social/social.pug

mixin header(data)
    header.header
        .container
            a.home(href="crtweb.ru")
                |crtweb.ru
            //- data, color, text, class
            +social(social, 'gray', false, 'medium')
            a.search
                != pugHelpers.Icon.call(locals, {iconName: "search", className: "icon icon_search"})
