include ../../components/social/social.pug

mixin header(data)
    header.header
        .page__wraper
            a.home(href="crtweb.ru")
                |crtweb.ru
            //- data, color, text, class
            +social(social, 'gray', false, 'size-l')
            a.search
                != pugHelpers.Icon.call(locals, {iconName: "search"})
